/* UNIVERSAL SELECTORS*/
*{
    color: blueviolet;
    background-color:whitesmoke;
    font-family:fantasy;
    
}
/* ID SELECTOR*/
#demo{
    background-color:white;
    font-size: itallic;
    font-family: cursive;
}
.demo1{
    background-color: antiquewhite;
    font-style: bold;
    font-family: 'Courier New', Courier, monospace;
}